<h2>Calculator-1</h2>
<hr>
<label>Number 1: </label>
<input type="number" (change)="n1 = $event.target.valueAsNumber">
<label>Number 2: </label>
<input type="number" (change)="n2 = $event.target.valueAsNumber">
<br>
<input type="button" value="Add" (click)="onAddClick()">
<input type="button" value="Subtract" (click)="onSubtractClick()">
<input type="button" value="Multiply" (click)="onMultiplyClick()">
<input type="button" value="Divide" (click)="onDivideClick()">
<app-calculator-result [result]="result"></app-calculator-result>